<?xml version="1.0" encoding="utf-8"?>
<document>
    <properties>
        <title>About you</title>
        <author>CHOCO Development Team</author>
    </properties>
    <body>

        <section name="About you">
            <p>
                Before downloading the last version of CHOCO, take some few minutes to answer the following
                questions:
            </p>
            <p>
                <div align="center">
                    <form method="POST" action="formmail.php">
                        <input type="hidden" name="subject" value="enregistrement"/>
                        <table>
                            <tr>
                                <td>Name:
                                    <br/>
                                    <input type="text" name="nom" size="30"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Email:
                                    <br/>
                                    <input type="text" name="email" size="30"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Profession:
                                    <br/>
                                    <input type="text" name="prof" size="30"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">What are you going to use CHOCO for ?
                                    <br/>
                                    <textarea COLS="50" ROWS="6" name="comments"></textarea>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </p>
        </section>
    </body>
</document>

