<?xml version="1.0" encoding="utf-8"?>
<document>
    <properties>
        <title>Forums</title>
        <author>CHOCO Development Team</author>
    </properties>
    <body>

        <section name="Forums">

            <p>
                If you are looking for technical support for your CHOCO program, go to our
                <a href="http://sourceforge.net/projects/choco/forums" class="externalLink" target="_blank">Community Support Page
                </a>.
            </p>
        </section>
    </body>
</document>

