<?xml version="1.0" encoding="utf-8"?>
<document>
    <properties>
        <title>Users</title>
        <author>CHOCO Development Team</author>
    </properties>
    <body>

        <section name="Information">
            <p>
                If you are using CHOCO and want to appear on the website, contact us at
                <a href="mailto:choco@emn.fr?subject=[USER]">users of CHOCO</a>
                .
            </p>
        </section>

        <section name="Education">
            <p>
                They use CHOCO as education material :
            </p>
            <div style="vertical-align: bottom; text-align: center;">
                <a href="http://www.mines-nantes.fr" target="_blank">
                    <img src="images/logos/emnantes.jpg"/>
                </a>
                <a href="http://www.mines.inpl-nancy.fr/" target="_blank">
                    <img src="images/logos/emnancy.jpeg"/>
                </a>
                <a href="http://www.ensm-douai.fr/" target="_blank">
                    <img src="images/logos/emdouai.jpeg"/>
                </a>
                <a href="http://www.enac.fr/" target="_blank">
                    <img src="images/logos/enac.jpeg"/>
                </a>
                <a href="http://www.ensta.fr/" target="_blank">
                    <img src="images/logos/ensta.jpeg"/>
                </a>
                <a href="http://www.insa-rennes.fr/" target="_blank">
                    <img src="images/logos/insa-rennes.jpeg"/>
                </a>
                <a href="http://www.isima.fr/isima/index.php" target="_blank">
                    <img src="images/logos/isima.jpeg"/>
                </a>
                <a href="http://www.kth.se/?l=en_UK" target="_blank">
                    <img src="images/logos/kth.jpeg"/>
                </a>
                <a href="http://www.univ-montp2.fr/" target="_blank">
                    <img src="images/logos/univ-montpellier.jpeg"/>
                </a>
            </div>
            <div style="vertical-align: bottom; text-align: center;">
                <a href="http://www.polytechnique.fr/" target="_blank">
                    <img src="images/logos/polytechnique.jpeg"/>
                </a>
                <a href="http://www.polymtl.ca/" target="_blank">
                    <img src="images/logos/polytechMontreal.gif"/>
                </a>
                <a href="http://www.polytech.univ-nantes.fr/" target="_blank">
                    <img src="images/logos/polytechNantes.jpeg"/>
                </a>
                <a href="http://www.strath.ac.uk/" target="_blank">
                    <img src="images/logos/strathclyde.png"/>
                </a>
                <a href="http://www.ucc.ie/en/" target="_blank">
                    <img src="images/logos/ucc.jpeg"/>
                </a>
                <a href="http://www.univ-nantes.fr/index_flash.jsp" target="_blank">
                    <img src="images/logos/univ-nantes.jpeg"/>
                </a>
                <a href="http://www.upmc.fr/" target="_blank">
                    <img src="images/logos/upmc.gif"/>
                </a>
                <a href="www.tugraz.at/" target="_blank">
                    <img src="images/logos/TU_Graz.png"/>
                </a>
                <a href="http://www2.ulaval.ca/" target="_blank">
                    <img src="images/logos/ulaval.png"/>
                </a>
            </div>
        </section>
        <section name="Research">
            <p>
                They use CHOCO for their research :
            </p>
            <div style="vertical-align: bottom; text-align: center;">
                <a href="http://www.mines-nantes.fr" target="_blank">
                    <img src="images/logos/emnantes.jpg"/>
                </a>
                <a href="http://4c.ucc.ie/web/index.jsp" target="_blank">
                    <img src="images/logos/4c.gif"/>
                </a>
                <a href="http://www.lirmm.fr/xml/fr/lirmm.html" target="_blank">
                    <img src="images/logos/lirmm.jpeg"/>
                </a>
                <a href="http://www.onera.fr/" target="_blank">
                    <img src="images/logos/onera.jpeg"/>
                </a>
                <a href="http://www.hakank.org/choco/" target="_blank">
                    <img src="images/logos/hakank.gif"/>
                </a>
                <a href="http://www.fernuni-hagen.de/" target="_blank">
                    <img src="images/logos/fernuni-hagen.gif"/>
                </a>
            </div>
        </section>
        <section name="Industry">
            <p>
                They trust CHOCO for real-world application :
            </p>
            <div style="vertical-align: bottom; text-align: center;">
                <a href="http://www.klsoptim.com/" target="_blank">
                    <img src="images/logos/klsoptim.jpeg"/>
                </a>
                <a href="http://www.thinksmarttechnologies.com/" taget="_blank">
                    <img src="images/logos/thinksmart.png"/>
                </a>
                <a href="http://groovy.codehaus.org/Constraint+Programming" target="_blank">
                    <img src="images/logos/groovy.gif"/>
                </a>
                <a href="http://www.nasa.gov/" target="_blank">
                    <img src="images/logos/nasa.jpeg"/>
                </a>
            </div>
        </section>
        <section name="Contributors">
            <p>
                They contribute to the development of CHOCO:
            </p>
            <div style="vertical-align: bottom; text-align: center;">
                <a href="http://www.bouygues.com/" target="_blank">
                    <img src="images/logos/bouygues.gif"/>
                </a>
                <a href="http://www.amadeus.com/" target="_blank">
                    <img src="images/logos/amadeus.jpeg"/>
                </a>
            </div>
        </section>
    </body>
</document>

