<?xml version="1.0" encoding="iso-8859-1"?>
<document>
    <properties>
        <title>Publications</title>
        <author>CHOCO Development Team</author>
    </properties>
    <body>
        <section name="Bibliography">

            <p>
                <i>The bibtex of CHOCO is still under construction
                </i>
                .
            </p>

            <p>
                <i>bibtex file :
                    <a href="http://choco.svn.sourceforge.net/viewvc/choco/trunk/src/site/resources/choco.bib">choco.bib
                    </a>
                    .
                </i>
            </p>

            <subsection name="2010">
                <ul>
                    <li xmlns:bibtex="http://bibtexml.sf.net/" id="petit-regin-ICTAI-2010">
                        <a href="http://hal.archives-ouvertes.fr/hal-00517141 url = http://www.emn.fr/x-info/ppc/bib/pub/petit10ictai.pdf">
                            <span class="title">The Ordered Distribute Constraint</span>
                        </a>
                        (2010).
                        <a href="http://hal.archives-ouvertes.fr/hal-00517141 url = http://www.emn.fr/x-info/ppc/bib/pub/petit10ictai.pdf">
                            [hal]
                        </a>
                        <br/>
                        <span class="person">Thierry Petit</span>
                        <span class="person">Jean-Charles Régin</span>

                        <span class="conf"><span class="journal">22th IEEE International Conference on Tools with
                            Artificial Intelligence (ICTAI'10)</span>,
                        </span>
                    </li>
                    <li xmlns:bibtex="http://bibtexml.sf.net/" id="petit-poder-AOR-2010">
                        <a href="http://dx.doi.org/10.1007/s10479-010-0683-4">
                            <span class="title">Global Propagation of Side Constraints for Solving Over-constrained
                                Problems
                            </span>
                        </a>
                        (2010).
                        <a href="http://hal.archives-ouvertes.fr/hal-00482014">
                            [hal]
                        </a>
                        <a href="http://dx.doi.org/10.1007/s10479-010-0683-4">
                            [doi]
                        </a>
                        <a href="http://www.emn.fr/x-info/ppc/bib/pub/petit10AOR.pdf">[paper]</a>
                        <br/>
                        <span class="person">Thierry Petit</span>
                        <span class="person">Emmanuel Poder</span>

                        <span class="ref">
                            <span class="journal">Annals of Operations Research</span>
                        </span>
                    </li>
                    <li xmlns:bibtex="http://bibtexml.sf.net/" id="beldiceanu-al-CPAIOR-2010">
                        <a href="http://www.emn.fr/x-info/ppc/bib/pub/beldiceanu-al-CPAIOR-2010.pdf">
                            <span class="title">The
                                <tt>increasing</tt>
                                \_nvalue Constraint
                            </span>
                        </a>
                        (2010).
                        <a href="http://www.emn.fr/x-info/ppc/bib/pub/beldiceanu-al-CPAIOR-2010.pdf">[paper]</a>
                        <a href="http://www.emn.fr/x-info/ppc/bib/pub/beldiceanu-al-CPAIOR-2010-slides.pdf">
                            [slides]
                        </a>
                        <br/>
                        <span class="person">Nicolas Beldiceanu</span>
                        <span class="person">Fabien Hermenier</span>
                        <span class="person">Xavier Lorca</span>
                        <span class="person">Thierry Petit</span>

                        <span class="conf"><span class="journal">7th International Conference on Integration of AI
                            and
                            OR
                            Techniques in Constraint Programming for Combinatorial Optimization Problems
                            (CPAIOR'10)</span>,
                            Bologna, Italy.
                        </span>
                        <span class="ref">
                            <span class="series">Lecture Notes in Computer Science</span>
                            6140: 25-39.
                        </span>
                    </li>
                    <li xmlns:bibtex="http://bibtexml.sf.net/" id="vion-al-RAC-2010">
                        <a href="http://www.emn.fr/x-info/ppc/bib/pub/vion10rac.pdf">
                            <span class="title">A generic scheme for integrating strong consistencies into
                                constraint
                                solvers
                            </span>
                        </a>
                        (2010).
                        <a href="http://www.emn.fr/x-info/ppc/bib/pub/vion10rac.pdf">[paper]</a>
                        <br/>
                        <span class="person">Julien Vion</span>
                        <span class="person">Thierry Petit</span>
                        <span class="person">Narendra Jussien</span>

                        <span class="conf"><span class="journal">Recent Advances in Constraints, Revised Selected
                            Papers
                            from CSCLP'09.</span>,
                        </span>
                        <span class="ref">
                            <span class="series">Lecture Notes in Computer Science</span>
                            6384
                        </span>
                    </li>
                    <li xmlns:bibtex="http://bibtexml.sf.net/" id="beldiceanu-al-JFPC-2010">
                        <a href="http://hal.inria.fr/inria-00520296">
                            <span class="title">La Contrainte Increasing NValue</span>
                        </a>
                        (2010).
                        <a href="http://hal.inria.fr/inria-00520296">
                            [hal]
                        </a>
                        <a href="http://www.emn.fr/x-info/ppc/bib/pub/beldiceanu10jfpc.pdf">[paper]</a>
                        <br/>
                        <span class="person">Nicolas Beldiceanu</span>
                        <span class="person">Fabien Hermenier</span>
                        <span class="person">Xavier Lorca</span>
                        <span class="person">Thierry Petit</span>

                        <span class="conf"><span class="journal">6èmes Journées Francophones de Programmation par
                            Contraintes (JFPC'10)</span>, pp. 71-81.
                        </span>
                    </li>
                </ul>
            </subsection>

            <subsection name="2009">
                <ul>
                    <li xmlns:bibtex="http://bibtexml.sf.net/" id="menana-demassey-CPAIOR-2009">
                        <a href="http://dx.doi.org/10.1007/978-3-642-01929-6_14">
                            <span class="title">Sequencing and counting with the
                                <tt>multicost-regular</tt>
                                constraint
                            </span>
                        </a>
                        (2009).
                        <a href="http://hal.archives-ouvertes.fr/hal-00394434">
                            [hal]
                        </a>
                        <a href="http://dx.doi.org/10.1007/978-3-642-01929-6_14">
                            [doi]
                        </a>
                        <a href="http://www.emn.fr/x-info/sdemasse/art/menana09cpaior.pdf">[paper]</a>
                        <br/>
                        <span class="person">Julien Menana</span>
                        <span class="person">Sophie Demassey</span>

                        <span class="conf"><span class="journal">6th International Conference on Integration of AI and
                            OR Techniques in Constraint Programming for Combinatorial Optimization Problems
                            (CPAIOR'09)</span>, Pittsburgh, USA.
                        </span>
                        <span class="ref">
                            <span class="series">Lecture Notes in Computer Science</span>
                            5547: 178-192.
                        </span>
                    </li>
                </ul>
            </subsection>

            <p>
                If you think an article is missing, contact us at
                <a href="mailto:choco@emn.fr?subject=[ARTICLE]">add article to CHOCO's bibtex
                </a>
                .
            </p>
        </section>
        <section name="Referencing">
                    <p>Referencing CHOCO: </p>
            <source>
@TechReport{choco-ref-RR-EMN,
    author = {CHOCO Team},
    title = {choco: an Open Source Java Constraint Programming Library},
    institution = {Ecole des Mines de Nantes},
    number = {10-02-INFO},
    type = {Research report},
    year = 2010,
    url = {http://www.emn.fr/z-info/choco-solver/pdf/choco-presentation.pdf},
    abstract = {
                CHOCO is a java library for constraint satisfaction problems (CSP) and constraint
                programming (CP).It is built on a event-based propagation mechanism with backtrackable
                structures. CHOCO is an open- source software,distributed under a BSD licence and hosted by
                sourceforge.net. CHOCO is mainly developed by people at Ecole des Mines
                de Nantes (France) and is financially supported by Bouygues SA and Amadeus SA}
}
            </source>

        </section>
    </body>
</document>

