<?xml version="1.0" encoding="utf-8"?>
<document>
    <properties>
        <title>Welcome to CHOCO</title>
        <author>CHOCO Development Team</author>
    </properties>
    <body>
	<p/>
	<b>Choco 2.1.3 is now available!</b>
	Visit <a href="choco-download.html">download page</a>, <a href="choco-news.html">news page</a> and <a href="changes-report.html">changes report</a>.
        <section name="Welcome">

            <p>
                CHOCO is a java library for constraint satisfaction problems (CSP) and constraint programming (CP).
                <br/>
                It is built on a event-based propagation mechanism with backtrackable structures.
            </p>

            <p>
                CHOCO can be used for:
                <ul>
                    <li>
                        teaching (a user-oriented constraint solver with open-source code)
                    </li>
                    <li>
                        research (state-of-the-art algorithms and techniques, user-defined constraints, domains and
                        variables)
                    </li>
                    <li>
                        real-life applications (many application now embed CHOCO)
                    </li>
                </ul>
            </p>

            <p>
                Please visit the web site for downloading and more information.
            </p>
            <div align="center">
                <a href="choco-download.html" target="_self">
                    <img src="images/logoChoco-dl.svg" width="75" height="75" align="center" title="download"/>
                </a>
                <a href="choco-documentation.html" target="_self">
                    <img src="images/logoChoco-doc.svg" width="75" height="75" align="center"
                         title="documentation"/>
                </a>
                <a href="choco-forums.html" target="_self">
                    <img src="images/logoChoco-for.svg" width="75" height="75" align="center"
                         title="forums"/>
                </a>
            </div>

        </section>

        <section name="CHOCO's environment">
            <p>
                CHOCO is an open-source software, distributed under a
                <a href="license.html">BSD License</a>, hosted by
                <a href="http://sourceforge.net/projects/choco/">sourceforge.net</a>
                and developed with
                <a href="http://www.jetbrains.com/idea/features/code_analysis.html" target="_blank">Intellij IDEA</a>
                and
                <a href="http://www.ej-technologies.com/products/jprofiler/overview.html" target="_blank">JProfiler</a>.
            </p>


            <div align="center">
                <a href="http://sourceforge.net/projects/choco/" target="_blank">
                    <img src="images/Sourceforge.net_logo.png"/>
                </a>
                <a href="http://www.jetbrains.com/idea/features/code_analysis.html" target="_blank">
                    <img src="http://www.jetbrains.com/idea/opensource/img/banners/idea468x60_white.gif"/>
                </a>
                <a href="http://www.ej-technologies.com/products/jprofiler/overview.html" target="_blank">
                    <img src="http://www.ej-technologies.com/images/headlines2/3453392302.png"/>
                </a>
            </div>

            <p>
                CHOCO is involved in the
                <a href="http://www.jcp.org/en/jsr/detail?id=331">Java Specification Requests 331
                    <img src="images/logoJava.png" height="50" align="center" title="JSR331"/>
                </a>
                : Constraint Programming API, winner of JCP Award for The Most Innovative JSR of 2010.
            </p>

        </section>

        <section name="Learning about Choco">
            <ul>
                <li>
                    <a href="choco-documentation.html">
                        <div class="header">Documentation</div>
                    </a>
                    Informations for those wanting to use CHOCO. It introduces to Constraint Programming and
                    CHOCO and describes how to solve problems using CHOCO. It also provides tutorials and examples.
                </li>
                <li>
                    <a href="choco-faq.html">
                        <div class="header">Frequently Asked Questions</div>
                    </a>
                    A list of frequently asked questions about CHOCO.
                </li>
                <li>
                    <a href="team-list.html">
                        <div class="header">The team</div>
                    </a>
                    List of the members involved in the development of CHOCO with contacts.
                </li>
                <li>
                    <a href="choco-users.html">
                        <div class="header">Users</div>
                    </a>
                    Non exhaustive list of CHOCO's users.
                </li>
            </ul>
        </section>


    </body>
</document>
