#breadcrumbs {
  height: 20px;
  background-image: url(../../images/breadcrumbs-c.jpg);
  padding: 5px 10px 14px 20px;
}
#banner {
  height: 107px;
  background: url(../../images/banner-c.jpg);
}
#bannerLeft img, #bannerRight img {
  margin: 0px;
}
.xleft, #bannerLeft img {
  float:left;
  color:#d9bb7a;
  text-shadow: #7CFC00 1px 1px 1px;
}
.xright, #bannerRight {
  float:right;
  color:#d9bb7a;
  text-shadow: #7CFC00 1px 1px 1px;
}
